.advantage{
    padding: 10px;
    margin: 10px;
    color: white;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #adb5bd;
}

.advantage button {

    margin: 0 auto 25px;

}
