.soundSettingsContainer {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.soundSettingItemsContainer {
    border: 1px solid #ccc;
    padding: 1rem;
    width: 30rem;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .soundSettingItemsContainer {
        width: 18rem;
    }
}
